#input-audio {
	display: none;
}

.inputFile-container {
	background: var(--color-black3);
	color: var(--color-white);
	border-radius: 1rem;
	border: .2rem solid var(--color-white);
	box-shadow: 0 .8rem .1rem var(--color-white);
	transition: ease .3s;
	cursor: pointer;
	font-size: 1rem;
}

.inputFile-container:hover {
	box-shadow: 0 0 0 var(--color-white);
	transform: translateY(.8rem);
	background: var(--color-black);
}

.inputFile-container:hover label {
	color: var(--color-white);
	scale: 1.1;
}

.inputFile-container label {
	padding: 1rem 5rem;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: ease .3s;
}

.inputFile-container span {
	font-size: 1.8em;
	display: flex;
}

.inputFile-container p {
	font-size: 1.1em;
}

