.main-container {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	padding-top: 6rem;	
}

.no-audio {
	opacity: .8;
}

.audios-container {
	padding: 1rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	margin-bottom: 1rem;
}