:root {
	--color-primary: #116D6E;
	--color-secondary: #FF4C29;
	--color-secondary2: #ff6546;
	--color-black: #0b0b0b; 
	--color-black2:#1b1b1b;
	--color-black3: #111111;
	--color-white: #f0f8ff;
	--color-white2: #dbdbdb;
}

.controlBtn {
	padding: .4em;
	border: 3px solid var(--color-white);
	border-radius: 3em;
	background-color: var(--color-black);
	cursor: pointer;
}

.controlBtn-span {
	background: var(--color-black);
	color: var(--color-white);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: .4rem;
	font-size: 1.3rem;
	font-weight: bold;
	border-radius: 3em;
	padding: .6rem 1.5rem;
	border: .2rem solid var(--color-white);
	box-shadow: 0 .4em .1em .019em var(--color-white);
	position: relative;
	bottom: .4rem;
	transition: .3s  ease;
}

.controlBtn-span:hover {
	box-shadow: 0 0 0;
	bottom: 0;
	border: .2rem solid var(--color-white2);
	color: var(--color-white2);
}

.controlBtn-span .controlBtn-icon {
	display: flex;
}

.controlBtn[disabled] {
	border: .2rem solid var(--color-secondary);
	cursor: default;
}

.controlBtn[disabled] .controlBtn-span {
	color: var(--color-secondary);
	border: .2rem solid var(--color-secondary);
	box-shadow: 0 0 0;
	bottom: 0;
}