.navbar-container {
	background: var(--color-black);
	width: 100%;
	padding: 1rem 2rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 1rem;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
	position: fixed;
	z-index: 2;
}

.navbar-title {
	text-align: center;
	font-size: 1.6em;
	text-transform: uppercase;
}

.navbar-title span {
	color: var(--color-secondary);
}

.navbar-list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;
	list-style: none;
	font-size: 1.2rem;
}

.navbar-list a {
	color: inherit;
	display: flex;
}

.navbar-list li {
	transition: ease .3s;
	cursor: pointer;
	color: var(--color-white);
}

.navbar-list li:hover {
	color: var(--color-secondary2);
}
