:root {
	--color-primary: #116D6E;
	--color-secondary: #FF4C29;
	--color-secondary2: #ff6546;
	--color-black: #0b0b0b; 
	--color-black2:#1b1b1b;
	--color-black3: #111111;
	--color-white: #f0f8ff;
	--color-white2: #dbdbdb;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  font-family: 'Gabarito', sans-serif;
  background: #242424 linear-gradient(#EB5757, #0b0b0b 95%);
  color: #eee;
}
